div class="row">
    <aside class="col-md-3">
        <h2>About Page</h2>
        <p></p>
    </aside>
    <section class="main col-md-9">
        <article>
            
            <p>
               
            </p>
            <p> </p>
            <p></p>
            <p></p>
            <p></p>
        </article>
    </section>
</div>
