<div class="container" style="padding-top: 10px;">
    <h2 class="my-4">Add Category</h2>
    <form action="/categories/add" method="POST">
        <div class="form-group">
            <label for="category">Category:</label>
            <input 
                type="text" 
                class="form-control" 
                id="category" 
                name="category" 
                placeholder="Enter category name" 
                autofocus 
                required>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Add Category</button>
    </form>
</div>
