@media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }
}

body {
    background-color: #f7f7f7;
    color: #333; 
    font-family: 'Roboto', sans-serif; 
    padding: 20px;
}

h1, h2 {
    color: #3b0970; 
    text-transform: uppercase;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #0f1256;
}

.navbar-nav .nav-link {
    color: #f9ccef; 
    font-weight: bold;
    transition: color 0.3s ease; 
}

.navbar-nav .nav-link:hover {
    color: #ffffff; 
    background-color: #9ea9ed; 
    border-radius: 4px; }

.navbar {
        background-color: #333333;
}
    
.nav-item {
        display: inline-block;
        padding: 10px;
}
    
.navbar-brand {
        font-size: 1.5em;
        font-weight: bold;
        color: white;
}
    
.navbar-container {
        border-radius: 10px;
        padding: 30px;
}
    
.container {
        padding-top: 50px;
}
.table {
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

.table th {
    background-color: #f2a5f3;
    color: #ffffff;
}

.table tbody tr:nth-child(even) {
    background-color: #afb4ff;
}

.table tbody tr:hover {
    background-color: #ffe8fe;
}

.MYITEMMM {
    border: 8px solid #e1bcff;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    background: #dbdffd;
    max-width: 600px;
    margin: 0 auto;
    animation: slide-in 0.6s ease-out;
    text-align: left; 
  }
  
  .MYITEMMM label {
    font-size: 1.4rem;
    display: inline-block; 
    margin-bottom: 10px;
    width: 30%; 
    vertical-align: middle; 
  }
  
  .MYITEMMM input,
  .MYITEMMM textarea,
  .MYITEMMM select {
    font-size: 1.2rem;
    padding: 10px;
    width: 65%; 
    margin-bottom: 20px;
    display: inline-block; 
    vertical-align: middle; 
  }
  
  .MYITEMMM textarea {
    resize: vertical; 
  }
  
  .MYITEMMM button {
    font-size: 1.4rem;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #6839f6;
    color: rgb(218, 201, 220);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .MYITEMMM button:hover {
    background-color: #5146d3;
  }
  
  .forDescription {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    max-width: 400px; 
    word-wrap: break-word;
    white-space: normal; 
    display: block;
}


.shopMIDDLE {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border: 8px solid #97baff; 
    border-radius: 10px;
    max-width: 600px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination li {
    list-style: none;
    margin: 0 5px;
}

.pagination a {
    display: block;
    padding: 8px 16px;
    background-color: #f2a5f3;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #e1bcff;
}
.btn-login{
    background-color: rgb(81, 45, 156);
    border: 1px solid rgb(82, 28, 133);
    color:white
}
.btn-login:hover{
    background-color: rgb(139, 88, 186);
    border: 1px solid rgb(191, 157, 223);
    color: white;
}

.btn-register{
    background-color: rgb(233, 64, 188);
    border: 1px solid rgb(234, 78, 189);
    color:white
}
.btn-register:hover{
    background-color: rgb(230, 115, 197);
    border: 1px solid rgb(217, 106, 197);
    color: white;
}